:root{
    --bege: #DDDCC5;
    --marrom: #958976;
    --vermelho: #611427;
    --cinza-escuro: #1D2326;
    --cinza-claro: #6A6A61;
}
body{
    background-color: var(--cinza-escuro);
}
header{
    padding: 10px;
    background-color: var(--cinza-escuro);
}
main{
    margin-top: 60px;
}
p{
    color: white;
}
.img-thumbnail{
    width: 300px;
}
.container > p{
    text-align: justify;
}
.card-title{
    color: white;
}
.card-body > ul > li{
    color: white;
}
.card-footer{
    background-color: transparent;
}
iframe{
    width: 35vw;
}
.col > p{
    text-align: justify;
}